body {
    text-align: center;
}   background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}

p {
    color: red;
    text-align: center;

    font-family: verdana;
    font-size: 20px;
}.center {
    text-align: center;
    color: rgb(0, 255, 85);
}